.contact-page{
  min-height: 100vh;
  width: 100%;
  padding-bottom: 100px;
}

.contact-content{
  padding:23px;
}

.social-icon{
  text-align: center;
  height: 70px;
  max-height: 100px;
  a{
    text-decoration: none;
    i{
      margin: 0 10px 0 10px;
      font-size: 50px;
      transition: all 250ms ease;
      &:hover{
        font-size: 60px;
      }
    }
  }
}

.email{
  text-align: center;
  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.5em;
    i{
      margin-right: 20px;
    }
    &:hover{
      font-size: 1.8em;
    }
  }
}


