@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// Color
$bg1: #FC5130;
$bg2: #30BCED;
$main-bg: #FFFAFF;
$main-header: #303036;
$text-color : #050401;
// Font
$text-font: 'Source Sans Pro', sans-serif;