@import 'Font-Color.scss';

.intro-page{
  position: relative;
  // background: linear-gradient(to right bottom, $bg1, $bg2); 
  min-height: 70vh;
  width: 100%;
  font-family: $text-font;
}
.content{
  color: $main-header;
  text-align: center;
  padding: 23px;
  min-height: 100%;
  // width:100%;
  h1{
    margin-top:100px;
  }

}

