.tech-page{
  min-height: 50vh;
  width: 100vw;
  position: relative;  
  .tech-content{
    padding:23px;
  }
  
  .tech-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    i{
      font-size: 50px;
      margin: 10px;
    }
  }
}