@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 1s ease; }

.wrapper {
  align-self: center;
  max-width: 1600px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media screen and (min-width: 1023px) {
    .wrapper {
      width: 100%; } }
