.project-content {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFAFF; }
  .project-content img {
    min-height: 250px;
    width: 100%; }
  @media screen and (min-width: 1023px) {
    .project-content {
      flex-direction: row; }
      .project-content img {
        width: 700px; } }

.project-detail {
  flex-basis: 400px;
  padding: 25px 25px 60px 25px; }
  .project-detail h1 {
    text-align: center; }

.linkBtn {
  outline: none;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid #30BCED;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #303036; }
  .linkBtn:hover {
    background-color: #30BCED;
    color: #FFFAFF; }
