.project-content {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFAFF; }
  .project-content img {
    min-height: 250px;
    width: 100%; }
  @media screen and (min-width: 1023px) {
    .project-content {
      flex-direction: row; }
      .project-content img {
        width: 700px; } }

.project-detail {
  flex-basis: 400px;
  padding: 25px 25px 60px 25px; }
  .project-detail p {
    font-size: 1.2em;
    margin: 30px 10px 40px 10px; }
    @media screen and (min-width: 1023px) {
      .project-detail p {
        margin: 20px 0px 40px 0px; } }
  .project-detail ul {
    margin: 10px 0 20px 0px; }

.header {
  font-size: 1.3em;
  font-weight: 500;
  color: #703dc1; }
  .header span {
    color: black;
    font-size: 0.9em; }

.header-margin {
  margin: 0;
  line-height: 1.1; }

.title {
  text-align: center;
  font-size: 1.6em; }

.linkBtn {
  outline: none;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 3px 12px 3px 12px;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #30BCED;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 10px 5px 20px 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 250ms ease-in;
  color: #303036; }
  .linkBtn:hover {
    background-color: #30BCED;
    color: #FFFAFF; }
